.favourites-container {
    padding: 0 auto;
    min-height: calc(80vh - 100px);
}
.panel-heading {
    background-color: #3273dc !important;
}
.scrolldown {

    position: absolute;
    bottom: 15px;
    text-align: center;
    color: white;
    z-index: 200;
    width: 100%;
}
#bodyweight-container {
    display: flex;
    align-items: center;
}

.contact a {
    color: #3273dc;
}
.contact:hover {
    color: #3273dc;
}
.contact:visited {
    color: #3273dc;
}

#bodyweight-text{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5); /* #3273dc; */ 
    position: absolute;
    height: 100%;
}
@media screen and (max-width: 960px) {
    #bodyweight-text{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
.navbar-end {
    padding-left: 30px;
}
}
    
#bodyweight-video {
    position: relative;
}

#heroBody {
    padding: 5px;
    margin: 5px;
}

.column-section {
    background-color: rgb(228, 228, 228);
}

.column-section:hover {
    background-color: rgb(248, 248, 248);
}

.chucknorris-btn {
    background: transparent;
    border: none;
    outline: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
}

.timer-btn {
    background: transparent;
    border: none;
    outline: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
}

.clock-icon {
    font-size: 40px;
}

.weather-icon {
    margin-bottom: -10px
}

.modal-login .modal-content {
    background-color: white;
    padding-bottom: 40px;
}

.modal-chucknorris .modal-content {
    background-color: white;
    min-height: 350px;
    border-radius: 10px;
}

.fullheight {
    height: 100%;
}

.chucknorris-quote {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.userProfile-name {
    margin-top: -8px;
}

.userProfile-name strong {
    color: white;
}

#login-error {
    color: red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.hero {
    background-color: #1D201F;
    width: 100%;
}

.title,
.subtitle {
    color: lightgrey;
    padding: 10px;
}

.navbar {
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
    width: 100vw;
}

#navImg {
    width: 300px;
    margin: 20px 0 20px 40px;
}

#signUp,
#logIn {
    margin: 20px 0 40px 20px;
}

.footer {
    display: flex;
    background-color: #1D201F;
    width: 100%;
    height: 4.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

#copyright {
    text-align: center;
    color: white;
}

#favicons {
    text-align: right;
}

.faviconBtn {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 245, 49);
    color: rgb(52, 100, 172);
    border-radius: 10px;
}

#apiCalls {
    margin: 50px 0 5px 0;
}

#weatherIconColumn,
#motivationGifColumn,
#timerBtns {
    justify-items: center;
}

a:hover {
    color: #000;
}

.floating-text {
    z-index: 100;
    top: -50px;
    background: transparent;
    float: left;
}
/* Video Thumbnails */

.overlay {
    background-color: #000000;
    height: auto;
    max-width: 100%;
    line-height: 0;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.overlay:hover img {
    opacity: 0.8;
}


/* Video Play Icon */

.playicon {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    font-size: 50px;
    color: white;
    opacity: 0;
}

.overlay:hover .playicon {
    opacity: 0.7;
}

#videoplayer {
    height: calc(100vh - 190px);
}

#favourites-display {
    min-height: calc(75vh - 190px);
}

.spacer {
    margin-top: 15px;
}


/* Tooltips */

.tooltip.tooltip span {
    z-index: 100;
    display: none;
    padding: 14px 20px;
    margin-top: -150px;
    margin-left: 0px;
}

.tooltip.tooltip:hover span {
    display: inline;
    position: absolute;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #363636;
        color: white;
        box-shadow: none;
        padding: .5rem 0;
    }
    .navbar-menu p {
        color: white;
    }
}