.column-section { 
    background-color: rgb(228, 228, 228);
}

.column-section:hover {
    background-color: rgb(248, 248, 248);
}

.chucknorris-btn {
    background:transparent; 
    border:none; 
    outline: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
}

.weather-icon {
    margin-bottom:-10px
}

.modal-login .modal-content {
    background-color: white;
    padding-bottom: 40px;
}

.modal-chucknorris .modal-content {
    background-color: white;
    min-height:350px;
    border-radius: 10px;
}

.fullheight {
    height: 100%;
}

.chucknorris-quote {
    font-size:20px;
    font-weight: 600;
    color:black;
    text-align: center;
}

.userProfile-name {
    margin-top:-8px;
}

.userProfile-name strong {
    color:white;
}

#login-error {
    color:red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.navbar {
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
    width: 100vw;
}

#timerEl {
    left: 50%;
    top: 50%;
}

/* Video Thumbnails */
.overlay {
    background-color: #000000;
    height: auto;
    max-width: 100%;
    line-height: 0;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.overlay:hover img {
    opacity: 0.8;
}

/* Video Play Icon */
.playicon {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    font-size: 50px;
    color: white;
    opacity: 0;
}

.overlay:hover .playicon {
    opacity: 0.7;
}

#videoplayer {
    height: calc(100vh - 190px);
}

.spacer {
    margin-top: 15px;
}