/* DELETE THIS BACKGROUND - JUST FOR SHOWING TIMER TRANSPARENCY*/

body {
    /*background-image: url(../img/temp.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.timer {
    display: none;
}

.countdown {
    font-size: 40px;
    font-weight: 700
}

.countdown span {
    display: inline-block;
    max-width: 150px;
    min-width: 75px;
}

button {
    padding: 5px 10px;
    font-size: 20px;
}

#timerEl {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    opacity: 0.9;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    opacity: 0.75;
}